@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700);

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ======X====== */

/* Variables */
:root {
  --sm-size: 2.25em;
  --sm-gap: 0.25em;
  --md-gap: 0.5em;
  --lg-gap: 1em;

  --smx-text: 0.65rem;
  --sm-text: 0.875rem;
  --lg-text: 1.25rem;
  --xl-text: 2rem;
  --xxl-text: 3rem;

  --color-primary: #252323;
  --color-secondary: #70798c;
  --color-secondary-dim: #70798c55;
  --color-accent: #f5f1ed;
  --color-accent-dim: #f5f1ed55;
  --color-label-01: #f001;
  --color-label-02: #0ff1;

  --border-primary: 2px solid #bbb;
  --border-label-01: 2px solid #f00;
  --border-label-02: 2px solid #0ff;
}

/* ====X==== */

/* general styling */
ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* button,
* input,
* select {
  display: block;
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-primary);
  border: none;
  outline: none;

  border-radius: 100px;
  padding: 0.25em 0.5em;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--color-primary);
  color: var(--color-accent);
}

header,
main {
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 0.5em;
  padding-inline: 20px;
}

* h1,
* p,
* span {
  position: relative;
  z-index: 1;
}

/* =======X======= */

/* Header */
header {
  display: flex;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    gap: 0.5em;

    & .input-group {
      margin-left: auto;
      display: grid;
      gap: 0.25em;
      grid-template-columns: 1fr 1fr auto auto;
      z-index: 9;

      & .close {
        display: none;
      }

      & #date-picker,
      & #searchBar {
        max-width: 150px;
        height: 100%;
      }

      & #date-picker {
        position: relative;
        padding: 0 0.6em;
        width: 100%;

        &::-webkit-calendar-picker-indicator {
          opacity: 0;
        }

        &::after {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(37, 35, 35,1)'%3E%3Cpath d='M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2 3 3 3H7V1H9V3H15V1H17V3Z'%3E%3C/path%3E%3C/svg%3E");
          background-size: cover;
          pointer-events: none;
          height: 1em;
          width: 1em;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }

      & #searchBar {
        display: flex;

        & #search {
          width: 100%;
          flex-grow: 1;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: none;
          padding: 0 0.6em;
          flex-grow: 1;
        }

        & #searchBtn {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    & .user {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 35px;
      border-radius: 100px;
      overflow: hidden;
      border: 2px solid #f5f1ed;
    }
  }
}

/* ======X====== */

/* Main Section */
main {
  display: grid;
  gap: var(--md-gap);
  grid-template-columns: repeat(12, 1fr);

  grid-template-areas:
    "b b b b b b b b n n n n"
    "b b b b b b b b n n n n"
    "a a a a a a a a n n n n";

  .banner {
    grid-area: b;
  }

  .activity {
    grid-area: a;
  }

  .nutrition {
    grid-area: n;
  }
}

.wrapper {
  padding: 1em 1.5em;
  border-radius: 1em;
}

.black-overlay {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: #0008;
  transition: height 0.2s ease-in-out, opacity 0.5s ease-in-out;
  height: 0;
  opacity: 0;
}

.black-overlay.active {
  height: 100vh;
  opacity: 1;
}

/* -------------------- */

/* Banner */
.banner {
  position: relative;
  background-color: var(--color-secondary);

  & span {
    background-color: var(--color-accent);
    color: #252323;
    font-weight: 600;
    padding: 0.25em 1em;
    border-radius: 1em;
  }

  & span:nth-of-type(2) {
    margin-left: 0.5em;
    padding: 0.25em 0.35em;
  }

  h1 {
    font-size: var(--xxl-text);
    max-width: 15ch;
    line-height: 1;
    padding-block: 1em;
  }

  button {
    font-weight: 700;
    border-radius: 100px;
    padding: 0.5em 1em;
  }

  .overlay-image {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url("./assets/model_from_freepik_com.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
  }
}

/* --------------- */

/* Activity */
.activity {
  background-color: #70798c66;

  & .top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--md-gap);

    & span {
      font-weight: 700;
      font-size: var(--lg-text);
    }

    & button {
      margin-left: auto;
    }
  }

  & .activities {
    margin-top: 1em;
    width: 100%;
    display: grid;
    gap: var(--md-gap);
    grid-template-columns: repeat(3, 1fr);

    & div>.count {
      font-size: var(--xl-text);
      width: fit-content;
      margin: 0 auto;

      & span {
        font-size: var(--sm-text);
      }
    }

    &>div>.meter {
      width: 100%;
      height: 30px;
      border: var(--border-primary);
      display: flex;
      align-items: center;
      justify-content: start;
      border-radius: 100px;
      overflow: hidden;

      background-image: repeating-linear-gradient(45deg, #dddddd00 0, #dddddd55 2px, transparent 0, transparent 50%);
      background-size: 8px 8px;

      & .fill {
        background-color: #fff;
        height: 28px;
      }

      & #step.fill {
        width: 90%;
      }

      & #run.fill {
        width: 30%;
      }

      & #training.fill {
        width: 0%;
      }
    }
  }
}

/* --------------- */

/* Nutrition */
.nutrition {
  background-color: var(--color-secondary-dim);

  & .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p span {
      display: block;
      font-size: var(--sm-text);
      color: var(--color-secondary);
    }
  }

  & #chart-wrapper {
    background-color: #fff2;
    min-height: 200px;
    max-height: 250px;
    margin: 0.5em 0;
    border-radius: 10px;
    position: relative;

    & #chart-canvas {
      width: 100%;
      margin: 0 auto;
    }

    & .label {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5px;

      display: flex;
      align-items: center;
      justify-content: space-around;

      & span {
        padding: 4px 6px;
        font-size: var(--smx-text);
        border-radius: 50px;
        color: var(--color-accent);
      }

      &>:first-child {
        background-color: var(--color-label-01);
        border: var(--border-label-01);
      }

      &>:nth-child(2) {
        background-color: var(--color-label-02);
        border: var(--border-label-02);
      }
    }
  }

  & .tab-group {
    & #tab-switch {
      display: none;

      margin: 1em auto;
      width: 100%;
    }

    & ul.tab-switch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff1;
      padding: 0.5em;
      margin: 0.5em 0;
      border-radius: 50px;

      & li.switch {
        padding: 0.25em 0.75em;
        font-size: var(--sm-text);
        color: var(--color-secondary);
        cursor: pointer;
      }

      & li.active {
        background-color: var(--color-accent);
        color: var(--color-primary);
        font-weight: 600;
        border-radius: 100px;
      }
    }

    & .tab {
      & .items {
        & .item {
          display: flex;
          align-items: center;
          gap: var(--sm-gap);
          margin-bottom: 0.5em;
          padding-bottom: 0.5em;
          border-bottom: 1px dashed #70798c;

          & .logo {
            aspect-ratio: 1;
            border-radius: 100px;
            overflow: hidden;

            & img {
              height: 100%;
              object-fit: cover;
            }
          }

          & .details {
            flex: 1;

            & ul {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: var(--color-secondary);
              font-size: var(--sm-text);
            }
          }
        }
      }
    }
  }

  & center {
    margin-top: 1em;
  }
}

/* --------------- */

/* Breakpoints */
@media (max-width: 56.25em) {

  /*900px*/
  :root {
    /* 15% decrement */
    --smx-text: 0.55rem;
    --sm-text: 0.74rem;
    --lg-text: 1.06rem;
    --xl-text: 1.7rem;
    --xxl-text: 2.55rem;
  }
}

@media (max-width: 50em) {

  /*800px*/
  main .nutrition .tab-group .tab-switch {
    display: none;
  }

  main .nutrition .tab-group #tab-switch {
    display: block;
  }
}

@media (max-width: 40.75em) {

  /*652px*/
  header .container .input-group {
    & button.close {
      display: block;
    }

    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 2em;
    row-gap: 1em;

    &>* {
      justify-self: end;
      grid-column: 2;
    }

    & #date-picker,
    & #searchBar #search {
      width: 100%;
    }

    background-color: #fff1;
    border-radius: 0 0 1em 1em;
    border: 1px solid #fff3;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding-block: 1em;
    padding-inline: 20px;
    -webkit-backdrop-filter: blur(0.625em) saturate(180%);
    backdrop-filter: blur(0.625em) saturate(180%);
    box-shadow: 0 4px 8px #0002;

    max-height: 0;
    opacity: 0;
    pointer-events: none;

    overflow: hidden;

    transition: max-height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  }

  & .show {
    max-height: 60vh;
    opacity: 1;
    pointer-events: auto;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  main .activity {
    & .top-bar {
      flex-wrap: wrap;

      & span {
        min-width: 100%;
      }

      & button {
        margin-left: unset;
      }
    }

    & .activities {
      display: flex;
      flex-direction: column;
    }
  }
}

/* -------------X--------------- */
/* ======X====== */